*{
    box-sizing: border-box;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: 10rem;
}
.flex-row img {
    height: 100%;
    width: auto;
}
.bold_styles{
    font-weight: bold;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.heading_1 {
    color: #39A7FF;
    font-weight: bold;
    margin: 10px;
    font-size: 40px;
}

.heading_2 {
    color: #87C4FF;
    font-weight: bold;
    margin: 20px;
}
.important_1{
    color: red  ;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.sidenav {
    height: 100%;
    width: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .normal {
    margin: 50px; 
    font-weight:bold;
  }
  
